# Xcode build artifacts
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
xcuserdata/
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
.swiftpm/

# Crash logs
*.crash
Orbit.app.zip
